# Android emulator: http://10.0.2.2:8000/movie_generator
# iOS simulator: http://127.0.0.1:8000/movie_generator
# Physical device: http://YOUR_PC_IP:8000/movie_generator
EXPO_PUBLIC_API_URL=http://127.0.0.1:8000/movie_generator
